<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

{% include header.html %}

  <div class="container content">

    {{ content }}

    <div class="footer">
      <p>
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </p>
    </div>
  </div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script language="javascript">
  (function() {
    $(window).scroll(function() {
      var oVal;
      oVal = $(window).scrollTop() / 240;
      console.log(oVal);
      // return $(".thebackground").css("-webkit-filter", "blur("+oVal+"px)").css("opacity", oVal / 10);
      return $(".blur").css("opacity", oVal);
    });

  }).call(this);

</script>
</html>
